services:
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"

  web:
    image: bryanp24/rust_p2pmatchmaking:latest
    container_name: rustp2p_matchmaking
    ports:
      - "8000:8000/udp"
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379